In [1]:
#Importing Data
import datetime
import numpy as np 
import pandas as pd
da=pd.read_csv("C:\\Users\\Sellomo\\Downloads\\maturity_assessments_dataset.csv",sep=';')
da.head()

     client    site country tracc_practice assessment_date  tracc_maturity
0  Client 1  Site 1  Canada             5S       3/10/2016            1.35
1  Client 1  Site 1  Canada             5S       3/15/2016            1.27
2  Client 1  Site 1  Canada             5S       3/18/2016            1.38
3  Client 1  Site 1  Canada             5S       3/25/2016            2.38
4  Client 1  Site 1  Canada             5S       3/29/2016            1.45

# Data Cleaning

In [5]:
#Applying time Stamp to the assessment_date
da["assessment_date_2"] = da["assessment_date"].apply(pd.to_datetime)
da

,client,site,country,tracc_practice,assessment_date,tracc_maturity,assessment_date_2
0,Client 1,Site 1,Canada,5S,3/10/2016,1.35,2016-03-10
1,Client 1,Site 1,Canada,5S,3/15/2016,1.27,2016-03-15
2,Client 1,Site 1,Canada,5S,3/18/2016,1.38,2016-03-18
3,Client 1,Site 1,Canada,5S,3/25/2016,2.38,2016-03-25
4,Client 1,Site 1,Canada,5S,3/29/2016,1.45,2016-03-29
...,...,...,...,...,...,...,...
9453,Client 49,Site 137,USA,Teamwork,6/20/2016,1.16,2016-06-20
9454,Client 49,Site 137,USA,Visual Management,6/19/2016,1.00,2016-06-19
9455,Client 49,Site 137,USA,Visual Management,6/20/2016,1.02,2016-06-20
9456,Client 49,Site 137,USA,Visual Management,6/21/2016,1.05,2016-06-21
9457,Client 49,Site 137,USA,Visual Management,7/17/2016,1.00,2016-07-17

In [8]:
#Cleaning/Correcting the Brasil/Brazil Syntax
da['country']=da['country'].replace (['Brasil'],'Brazil')

In [10]:
#checking the change
da['country'].value_counts()

USA               1378
France            1226
Germany           1110
China             1014
Brazil             903
United Kingdom     778
India              761
Ireland            479
Italy              357
Poland             270
Canada             264
Peru               253
Australia          174
Nigeria             85
Netherlands         80
Ghana               72
Belgium             65
Spain               49
South Africa        43
Thailand            32
Mexico              31
Philippines         16
Turkey              12
Argentina            6
Name: country, dtype: int64

# Questions

#### Which client has conducted the most assessments in total? _Client 3_

In [25]:
da.groupby('client').count().sort_values(by=['tracc_practice'],ascending=False)

,site,country,tracc_practice,assessment_date,tracc_maturity,assessment_date_2
client,,,,,,
Client 3,1592,1592,1592,1592,1592,1592
Client 10,1316,1316,1316,1316,1316,1316
Client 6,1089,1089,1089,1089,1089,1089
Client 20,717,717,717,717,717,717
Client 15,702,702,702,702,702,702
Client 41,595,595,595,595,595,595
Client 12,440,440,440,440,440,440
Client 32,395,395,395,395,395,395
Client 48,347,347,347,347,347,347
Client 5,268,268,268,268,268,268
Client 1,263,263,263,263,263,263
Client 29,196,196,196,196,196,196
Client 13,181,181,181,181,181,181
Client 21,166,166,166,166,166,166
Client 4,153,153,153,153,153,153
Client 24,147,147,147,147,147,147
Client 28,91,91,91,91,91,91
Client 8,89,89,89,89,89,89
Client 11,79,79,79,79,79,79
Client 33,58,58,58,58,58,58
Client 26,58,58,58,58,58,58
Client 2,56,56,56,56,56,56
Client 31,55,55,55,55,55,55
Client 37,50,50,50,50,50,50
Client 19,49,49,49,49,49,49
Client 18,35,35,35,35,35,35
Client 49,29,29,29,29,29,29
Client 36,27,27,27,27,27,27
Client 17,25,25,25,25,25,25
Client 34,21,21,21,21,21,21
Client 38,18,18,18,18,18,18
Client 22,16,16,16,16,16,16
Client 44,16,16,16,16,16,16
Client 47,16,16,16,16,16,16
Client 46,15,15,15,15,15,15
Client 35,15,15,15,15,15,15
Client 7,10,10,10,10,10,10
Client 16,9,9,9,9,9,9
Client 14,8,8,8,8,8,8
Client 30,8,8,8,8,8,8
Client 9,7,7,7,7,7,7
Client 23,6,6,6,6,6,6
Client 45,5,5,5,5,5,5
Client 40,5,5,5,5,5,5
Client 43,4,4,4,4,4,4
Client 39,4,4,4,4,4,4
Client 25,4,4,4,4,4,4
Client 27,2,2,2,2,2,2
Client 42,1,1,1,1,1,1

#### Across how many countries are our clients assessing TRACC practices ? _24 Countries_

In [24]:
da.groupby('country').count()
da['country'].value_counts()
len(list(da['country'].unique()))

24

#### How many assessments were conducted in total for all clients, after 31 March 2018 ? _2598 Assessments_

In [23]:
df2=da[da['assessment_date_2']>datetime.datetime(2018,3,31)]
df2.count()

client               2598
site                 2598
country              2598
tracc_practice       2598
assessment_date      2598
tracc_maturity       2598
assessment_date_2    2598
dtype: int64

#### How many unique TRACC practices did Client 48 assess ? _347_

In [26]:
da.groupby("client").get_group('Client 48').groupby('tracc_practice').count()

,client,site,country,assessment_date,tracc_maturity,assessment_date_2
tracc_practice,,,,,,
5S,101,101,101,101,101,101
Focused Improvement,78,78,78,78,78,78
Teamwork,93,93,93,93,93,93
Visual Management,75,75,75,75,75,75

#### How many assessments were done for each practice in 2017 ? _3301_

In [29]:
da3=da[da['assessment_date_2']>=datetime.datetime(2017,1,1)]
da4=da3[da3['assessment_date_2']<=datetime.datetime(2017,12,31)]
da4.groupby('tracc_practice').count()

,client,site,country,assessment_date,tracc_maturity,assessment_date_2
tracc_practice,,,,,,
5S,937,937,937,937,937,937
Focused Improvement,660,660,660,660,660,660
Leading and Managing Change,4,4,4,4,4,4
Teamwork,912,912,912,912,912,912
Visual Management,788,788,788,788,788,788

#### Which clients have achieved a maturity score greater than 2.5, for the 5S and Teamwork practices ? _25 clients_

In [31]:
da5=da[da['tracc_maturity']>2.5]
da5

,client,site,country,tracc_practice,assessment_date,tracc_maturity,assessment_date_2
26,Client 1,Site 1,Canada,5S,5/26/2016,2.53,2016-05-26
45,Client 1,Site 1,Canada,5S,8/31/2016,2.86,2016-08-31
49,Client 1,Site 1,Canada,5S,9/7/2016,2.52,2016-09-07
51,Client 1,Site 1,Canada,5S,9/9/2016,2.59,2016-09-09
52,Client 1,Site 1,Canada,5S,9/12/2016,2.68,2016-09-12
...,...,...,...,...,...,...,...
9387,Client 31,Site 132,China,Visual Management,3/19/2018,2.95,2018-03-19
9403,Client 21,Site 133,Germany,Focused Improvement,9/12/2017,3.10,2017-09-12
9408,Client 21,Site 133,Germany,Teamwork,3/20/2017,2.78,2017-03-20
9418,Client 21,Site 133,Germany,Visual Management,3/21/2017,2.85,2017-03-21
9423,Client 21,Site 133,Germany,Visual Management,9/13/2017,2.58,2017-09-13

In [54]:
da6_1=da5[(da5['tracc_practice']== '5S')]
da6_2=da5[(da5['tracc_practice']== 'Teamwork')]

In [64]:
frames = [da6_2, da6_1]  
result = pd.concat(frames)

In [68]:
result['client'].value_counts()

Client 6     401
Client 15    266
Client 3     116
Client 48    102
Client 41     83
Client 32     76
Client 10     68
Client 13     49
Client 4      43
Client 28     40
Client 1      28
Client 20     21
Client 8      21
Client 11     14
Client 5       8
Client 38      8
Client 24      5
Client 33      5
Client 26      3
Client 21      2
Client 44      2
Client 2       2
Client 18      1
Client 31      1
Client 19      1
Name: client, dtype: int64